<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroInstituicao</servlet-name>
        <servlet-class>Servlets.CadastroInstituicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroDisciplina</servlet-name>
        <servlet-class>Servlets.CadastroDisciplina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroProfessor</servlet-name>
        <servlet-class>Servlets.CadastroProfessor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroBolsista</servlet-name>
        <servlet-class>Servlets.CadastroBolsista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpcoesDisciplina</servlet-name>
        <servlet-class>Servlets.OpcoesDisciplina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarDisciplina</servlet-name>
        <servlet-class>Servlets.AtualizarDisciplina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpcoesBolsista</servlet-name>
        <servlet-class>Servlets.OpcoesBolsista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarBolsista</servlet-name>
        <servlet-class>Servlets.AtualizarBolsista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpcoesProfessor</servlet-name>
        <servlet-class>Servlets.OpcoesProfessor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarProfessor</servlet-name>
        <servlet-class>Servlets.AtualizarProfessor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroInstituicao</servlet-name>
        <url-pattern>/CadastroInstituicao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroDisciplina</servlet-name>
        <url-pattern>/CadastroDisciplina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroProfessor</servlet-name>
        <url-pattern>/CadastroProfessor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroBolsista</servlet-name>
        <url-pattern>/CadastroBolsista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpcoesDisciplina</servlet-name>
        <url-pattern>/OpcoesDisciplina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarDisciplina</servlet-name>
        <url-pattern>/AtualizarDisciplina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpcoesBolsista</servlet-name>
        <url-pattern>/OpcoesBolsista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarBolsista</servlet-name>
        <url-pattern>/AtualizarBolsista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpcoesProfessor</servlet-name>
        <url-pattern>/OpcoesProfessor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarProfessor</servlet-name>
        <url-pattern>/AtualizarProfessor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
